.bg-secondary {
  background-color: #1d3557!important;
}

a:active, a:focus, a:hover {
  /*color: #fff!important;*/
}

a {
  color: #e63946;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #fff!important;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #e63946!important;
  }
}

hr.star-light:after {
  color: #fff;
  background-color: #457b9d;
}

