.bg-secondary {
  background-color: #1d3557!important;
}

a:active, a:focus, a:hover {
  color: #f1faee!important;
}

a {
  color: #e63946;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active {
  color: #e63946!important;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    /*color: #ffffff;*/
    background: #e63946!important;
  }
}

hr.star-light:after {
  color: #fff;
  background-color: #457b9d;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    /*color: #fff;*/
    /*background: #e63946!important;*/
  }
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  /*color: #e63946!important;*/
}

a:active, a:focus, a:hover {
}

a {
  color: #18bc9c;
}

a:active, a:focus, a:hover {
  color: #128f76;
}

@media (min-width:992px) {
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #fff;
    background: #18bc9c;
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem #457b9d;
}

.btn-outline-light:hover {
  color: #212529;
  background-color: #e63946;
  border-color: #f8f9fa;
}

